install:
    - sudo apt-get install tcl
    - wget --output-document=teacup http://teapot.activestate.com/application/name/teacup/ver/8.5.15.1.297601/arch/linux-glibc2.3-x86_64/file.exe
    - chmod +x teacup
script:
    - sudo ./teacup setup /usr/bin/tclsh
    - ./teacup create /home/travis/build/AngryLawyer/lib/teapot
    - ./teacup install Itcl
    - cd tests && tclsh all.tcl
