install:
    - sudo apt-get install tcl
    - wget --output-document=teacup http://teapot.activestate.com/application/name/teacup/ver/8.5.15.1.297601/arch/linux-glibc2.3-ix86/file.exe
    - chmod +x teacup
    - sudo ./teacup setup /usr/bin/tclsh
    - ./teacup install Itcl
script:
    - cd tests && tclsh all.tcl
